<li>
    {{this.title}}
    <br>
    <div class="bodyText">
        {{!-- {{this.body}} --}}

        {{#if this.isEditing}}
        {{> reviews/editBlock}}
        {{else}}
        {{this.body}}

        {{/if}}

    </div>
    <button class="edit-review" data-id="{{this.id}}"><i class="fa fa-edit"></i></button>
    <button class="delete-review" data-id="{{this.id}}"><i class="fa fa-trash"></i></button>

</li>